.FormContac{
    display: flex;
    justify-content: center;
    margin: 2rem;
}

.FormContac-container{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    width: 62vw;
    text-align: center;
}

.FormContac-container input, textarea{
    height: 2rem;
    border: 1px solid white;
    border-radius: 5px;
    background: transparent;
    color: white;
    font-weight: 700;
}

.FormContac-container-input--message{
    height: 10rem;
}

.FormContac-container .FormContac-container-send{
    width: 4rem;
    border: transparent ;
    border-radius: 100px;
    color: black ;
    background: var(--tertiary-color) ;
    margin-left: calc(50% - 31px);
}

