.Footer{
    
    position: relative;

}

.Footer-content{
    background: var(--secondary-color);
    position: absolute;
    top: 0;
    left: -9.4%;
    width: 99.7vw;
    height: auto;
}

.Footer-content{
    text-align: center;
}

.Footer-content article{
    justify-content: center;
    display: flex;
    gap: 2rem;
    margin: 1rem;
}

.Footer-content button{
    background: transparent;
}

.Footer-content img{
    width: 40px;
}