*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --primary-color: #270828;
  --secondary-color: #A848AB;
  --tertiary-color: #F7DA74;
  --quaternary-color: #8DF7E4;
  --primary-tittle: 3.5rem;
  --secondary-tittle: 2rem;

}

body {
  color: white;
  padding: 8%;
}

button{
  border: transparent;
  border-radius: 10px;
  cursor: pointer;
  background: var(--tertiary-color);
  margin: 0.4rem;
  padding: 0.8rem;
}

.first-title{
  font-size: var(--primary-tittle);
}

.second-title{
  font-size: var(--secondary-tittle);
}